@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    min-height: 50px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo img {
    width: 86px;
    height: 40px;
}

.nav-logo h1 {
    font-size: 45px;
}

.game-text {
    color: #FF42A5;
}

.nav-menu {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}

.nav-menu a {
    text-decoration: none;

}

.follow-us {
    display: flex;
    align-items: center;
    width: 262px;
    height: 56px;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    font-size: 18px;
}

.follow-us .fa-brands {
    font-size: 24px;
}

.follow-us .fa-youtube {
    color: red;
}

/* banner section starts */
.banner {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
}

.banner-container {
    display: flex;
    width: 1400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.banner-text {
    width: 50%;

}

.banner-text .banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.banner-text .goat {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.banner-text p span {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-img {
    width: 50%;

}

.banner-img img {
    width: 650px;
    height: auto;
}

.primary-btn {
    border-radius: 48px;
    background: #FF42A5;
    padding: 20px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.go-rogue-btn {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 20px 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin-left: 25px;


}

/* banner section ends */

/* we are gamer section starts */
.we-are {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gamer {
    width: 1400px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}

.we-are-gamer-img {
    width: 60%;
}

.we-are-gamer-text {
    text-align: right;
    width: 40%;
}

.we-are-gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.we-are-gamer-desc {
    color: #534C64;
    font-size: 18px;
}

.our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.quote-text {
    color: #534C64;
    font-size: 30px;
    font-weight: 700;
}

/* we are gamer section starts */

.online{
    
}

.online-games {
    width: 1400px;
    margin: 0 auto;
}

.online-games-text {
    text-align: center;
    margin-top: 100px;
}

.online-games-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.online-games-title .funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.online-games-desc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    
}

.online-games-img {
    display: flex;
    margin-top: 40px;
    gap: 20px;

}

.online-games-img img {
    cursor: pointer;
    
}
.online-games-img a{
    text-decoration: none;
}
.online-games-img p{
    color:  #534C64;
    font-size: 20px;
    font-weight: 500;
}